{% extends 'base.html' %}
{% block head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/st.css' %}">

{% endblock head%}

{% block content %}
{% load static %}
<section class="meer container-fluid px-0" style=" background-image: url(/static/img/h.jpeg)">
  <div class="d-flex flex-column align-items-center justify-content-center m-4" style="height: 100vh;">
  {% if user.is_authenticated %}
 
<div class="main-block">
      <form action="/query/" method="post">
        {% csrf_token %}
        <div class="title">
          <i class="fas fa-pencil-alt"></i> 
          <h2>Get your Vaccine</h2>
        </div>
        <div class="info">
          <input class="fname" type="text" name="name" placeholder="Full name">
          <input type="text" id='email' name="email" placeholder="Email">
          <input type="date" id='date' name="date" placeholder="Date">
          <input type="text" id='dis'name="dis" placeholder="District Code">
          <select class="form-select" id='vac' name='vac' aria-label="Default select example" required>
            <option value="course-type" selected>Vaccine Name*</option>
            <option value="COVAXIN">Covaxin</option>
            <option value="COVISHEILD">Covisheild</option>
    
          </select>
          <select class="form-select" id='age' name='age' aria-label="Default select example" required>
            <option selected>Choose Age*</option>
            <option value="18">18+</option>
            <option value="45">45+</option>
          </select>
        </div>

        <button type="submit" class='btn btn-sm btn-outline-dark' >Submit</button>
      </form>
    </div>
  </div>
{%else%}
<div class='container m-5'>
  <h1>hello world</h1>
</div>
<div class="d-flex flex-column align-items-center justify-content-center m-4" style="height: 100vh;">
            <div class="forms">
              <div class="form-wrapper is-active">
                <button type="button" class="switcher switcher-login">
                  Login
                  <span class="underline"></span>
                </button>
                <form class="form form-login" method="post" action="/login/">
                  {% csrf_token %}
                  <fieldset>
                    <legend>Please, enter your email and password for login.</legend>
                    <div class="input-block">
                      <label for="username">Username</label>
                      <input id="username" type="text" name='username' required>
                    </div>
                    <div class="input-block">
                      <label for="login-password">Password</label>
                      <input id="pass" type="password" name='pass'required>
                    </div>
                  </fieldset>
                  <button type="submit" class="btn-login">Login</button>
                </form>
              </div>
              <div class="form-wrapper">
                <button type="button" class="switcher switcher-signup">
                  Sign Up
                  <span class="underline"></span>
                </button>
                <form class="form form-signup" method="post" action="/signup/">
                  {% csrf_token %}
                  <fieldset>
                    <legend>Please, enter your email, password and password confirmation for sign up.</legend>
                    <div class="input-block">
                      <label for="username">Username</label>
                      <input id="username" type="text" required>
                    </div>
                    <div class="input-block">
                      <label for="email">E-mail</label>
                      <input id="email" type="email" required>
                    </div>
                    <div class="input-block">
                      <label for="pass1">Password</label>
                      <input id="pass1" type="password" required>
                    </div>
                    <div class="input-block">
                      <label for="pass2">Confirm password</label>
                      <input id="pass2" type="password" required>
                    </div>
                    
                  </fieldset>
                  <button type="submit" class="btn-signup">Continue</button>
                </form>
              </div>
            </div>
          </section>
    </div>
  </section>
  {%endif%}
  <script>
      const switchers = [...document.querySelectorAll('.switcher')]

switchers.forEach(item => {
	item.addEventListener('click', function() {
		switchers.forEach(item => item.parentElement.classList.remove('is-active'))
		this.parentElement.classList.add('is-active')
	})
})

  </script>
  <script>
   var currentTab = 0;
document.addEventListener("DOMContentLoaded", function(event) {


showTab(currentTab);

});

function showTab(n) {
var x = document.getElementsByClassName("tab");
x[n].style.display = "block";
if (n == 0) {
document.getElementById("prevBtn").style.display = "none";
} else {
document.getElementById("prevBtn").style.display = "inline";
}
if (n == (x.length - 1)) {
document.getElementById("nextBtn").innerHTML = "Submit";
} else {
document.getElementById("nextBtn").innerHTML = "Next";
}
fixStepIndicator(n)
}

function nextPrev(n) {
var x = document.getElementsByClassName("tab");
if (n == 1 && !validateForm()) return false;
x[currentTab].style.display = "none";
currentTab = currentTab + n;
if (currentTab >= x.length) {
// document.getElementById("regForm").submit();
// return false;
//alert("sdf");
document.getElementById("nextprevious").style.display = "none";
document.getElementById("all-steps").style.display = "none";
document.getElementById("register").style.display = "none";
document.getElementById("text-message").style.display = "block";




}
showTab(currentTab);
}

function validateForm() {
var x, y, i, valid = true;
x = document.getElementsByClassName("tab");
y = x[currentTab].getElementsByTagName("input");
for (i = 0; i < y.length; i++) { if (y[i].value=="" ) { y[i].className +=" invalid" ; valid=false; } } if (valid) { document.getElementsByClassName("step")[currentTab].className +=" finish" ; } return valid; } function fixStepIndicator(n) { var i, x=document.getElementsByClassName("step"); for (i=0; i < x.length; i++) { x[i].className=x[i].className.replace(" active", "" ); } x[n].className +=" active" ; }</script>
  
{% endblock content %}